.dashboard-container {
  max-width: 50%;
  margin: 50px auto;
  padding: 20px 20px;
  background-color: #03030b;
  color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  box-sizing: border-box;
}

.dashboard-container h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.dashboard-container p {
  font-size: 1.1rem;
  margin-bottom: 20px;
}

.dashboard-container button {
  padding: 10px 20px;
  background-color: #3e00ff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dashboard-container button:hover {
  background-color: #ff00c4;
}
