/* Register container */
.register-container {
  max-width: 25%;
  margin: 50px auto;
  padding: 20px 20px;
  background-color: #03030b;
  color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.register-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.register-container img {
  width: 100px;
  position: relative;
  left: 35%;
}

.form-group {
  width: 100%;
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-inpt {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 5px;
  box-sizing: border-box;
  background-color: #f4f4f4;
}

.form-inpt:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(62, 0, 255, 0.5);
}

button {
  width: 100%;
  padding: 10px;
  background-color: #3e00ff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #ff00c4;
}

.login-link {
  text-align: center;
  margin-top: 15px;
}

.login-link a {
  color: #3e00ff;
  text-decoration: none;
}

.login-link a:hover {
  text-decoration: underline;
}
